.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background: rgb(56, 41, 21);
    background: -moz-linear-gradient(45deg,rgb(56, 41, 21) 0,#f0d852 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,rgb(56, 41, 21)),color-stop(100%,#f0d852));
    background: -webkit-linear-gradient(45deg,rgb(56, 41, 21) 0,#f0d852 100%);
    background: -o-linear-gradient(45deg,rgb(56, 41, 21) 0,#f0d852 100%);
    background: -ms-linear-gradient(45deg,rgb(56, 41, 21) 0,#f0d852 100%);
    background: linear-gradient(45deg,rgb(56, 41, 21) 0,#f0d852 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=rgb(56, 41, 21), endColorstr=#f0d852, GradientType=1);
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
}


.jumbotron {

    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-image: url(../img/jumbotron-back.png);
    background-position:center center;
    color: floralwhite;
    }

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-inverse {
    background-image: url(../img/navbar-back2.png);
    background-position:center center;
    color: #0f0f0f;
    text-decoration: none;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
